.container {
  /* background-color: rgb(0, 0, 0, 0.05); */
  height: 650px;
  width: 960px;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  border: 1px solid black;
}
