.container {
  height: 650px;
  width: 650px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  position: absolute;
}

.color-pie {
  cursor: pointer;
}

.color-pie:hover {
  filter: brightness(1.2);
}

#color-name {
  font-size: 14px;
  font-weight: bold;
  top: 49%;
}

#color-code {
  font-size: 12px;
  top: 52%;
}
