.container {
  background-color: white;
  height: 560px;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  border: 1px solid black;
  padding-left: 20px;
}

.marks .land {
  fill: #ececec;
  opacity: 0.9;
}
.marks .sphere {
  /* fill: #fbfbfb; */
  fill: #efefef;
  opacity: 0.25;
}
.marks .interiors {
  fill: none;
  /* stroke: #d9dfe0; */
  stroke: #cacaca;
}
.marks .graticules {
  fill: none;
  stroke: #ececec;
}

.tick line {
  /* stroke: #999; */
  stroke: #cacaca;
}

circle {
  fill: #137b80;
  opacity: 0.3;
}

.tick text {
  fill: #635f5d;
  font-size: 0.5em;
}

.mark {
  fill: #137b80;
}

.axis-label {
  font-size: 0.5em;
  /* fill: #635f5d; */
  fill: black;
}
