.container {
  height: 560px;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  border: 1px solid black;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  font-size: 14px;
}

.tick.bottom text {
  fill: #635f5d;
}

.tick.left text {
  fill: #111;
}

.marks circle {
  fill: #f57526;
  /* opacity: 0.75; */
}

.marks path {
  stroke-width: 3;
  stroke: #bd0606;
  stroke-linejoin: round;
  stroke-linecap: round;
}
