.container {
  height: 560px;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  border: 1px solid black;
  padding-left: 20px;
  /*  padding-top: 20px;
  padding: auto; */
}

.marks {
  cursor: pointer;
}

.marks .sphere {
  fill: grey;
}

.marks .graticule {
  fill: none;
  stroke: #dadada;
}

/* .marks path {

} */
